<div class="toolbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img width="180" alt="SupportFinity Logo" src="../assets/logo.svg" />
      </div>
      <div class="col-xs-12 col-md-6" style="text-align: right">
        <span style="margin-right: 10px">
          <a class="home-btn activeBt" routerLink="home">Home </a>
        </span>
        <span>
          <a class="profile-btn" routerLink="profile">profile</a>
        </span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
