.toolbar {
  height: 82px;
  background-color: #fdfdfd;
  font-weight: 600;
  padding-top: 45px;
}

.home-btn {
  color: black;
}
.profile-btn {
  color: black;
}

.ActivBtnNav {
  color: #007bff;
}

.toolbar a:hover:not(.activeBt) {
  color: black;
}

.toolbar a:focus {
  color: #007bff;
}
