/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../src/assets/w3.css";

@font-face {
  font-family: Roboto;
  src: url(assets/font/Roboto-Medium.ttf) format("truetype");
}
body {
  background-color: #eee;
  font-family: Roboto;
}
