<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1 style="font-weight: 500">
        Jobs From <span style="color: green">A-Z</span>
      </h1>
      <h6 class="w3-padding-32" style="padding-right: 79px">
        Lorem Ipsum is simply dummied text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard dummy text ever
        since the 1500s when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </h6>

      <p class="w3-text-grey"></p>
    </div>

    <div>
      <img width="290" alt="SupportFinity Logo" src="../../assets/man.svg" />
    </div>
  </div>
</div>
<div class="mid-div">
  <h3 class="text-center white bold">
    SupportFinity General hiring guidelines for hiring &lt;job&gt;s
  </h3>
  <button type="button" class="btn btn-primary btn-lg btn-lg">
    Hiring Guideliness
  </button>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird" style="padding-top: 42px">
      <h2>What do we care about in Supportfinity</h2>
      <h6 class="w3-padding-32">
        Lorem Ipsum is simply dummied text of the printing and typesetting
        industry. Lorem Ipsum has been the industry’s standard dummy text ever
        since the 1500s when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged.
      </h6>

      <p class="w3-text-grey"></p>
    </div>

    <img width="325" alt="SupportFinity Logo" src="../../assets/mountain.svg" />
  </div>
</div>
