.btn-primary {
  color: #fff;
  background-color: #0fa572;
  border-color: #0fa572;
}
.btn-lg-new {
  width: 45%;
  height: auto;
  font-size: 22px;
  font-weight: 600 !important;
  font-family: Roboto;
}
.mid-div {
  background-color: #26547c;
  padding: 34px;
  text-align: center;
}
.white {
  color: white;
}
.bold {
  font-weight: 600;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #007c34;
  border-color: #007c34;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  margin: 10px 0;
}
